<div layout="vertical">

  <md-sidenav  layout="row" layout-fill style="height: 900px;" class="md-sidenav-left md-whiteframe-z2"   md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
            <md-list  flex>
              <md-item ng-repeat="item in menu" md-ink-ripple>
                <a ui-sref="{{item.ui}}">
                  <md-item-content  layout="row" layout-align="start center" class="sidenav-link">
                    <div class="inset">
                      <md-button class="md-no-focus">
                        <i class="material-icons">{{item.icon}}</i>
                      </md-button>
                    </div>

                  </md-item-content>
                </a>
              </md-item>
               <md-item ng-click="admin($event)" md-ink-ripple >
                <a>
                    <md-item-content layout="row" layout-align="start center" class="sidenav-link">
                    <div class="inset">
                      <md-button class="md-no-focus" ng-click="admin()">
                        <i class="material-icons" style="fill: #0275d8">lock</i>
                      </md-button>
                    </div>
                   
                  </md-item-content>
                </a>
             
              </md-item> 
            </md-list>
  </md-sidenav>

  <div ui-view="dash.portfolio"></div>

    
  <div layout="column" ui-view="searchbar" flex layout-fill>
              <md-toolbar class="searchbar">

                <div class="md-toolbar-tools">
                     <md-button md-ink-ripple>
                        <i style="color:black" class="material-icons">search</i>
                  </md-button>
                  <md-input-container class="md-block" md-truncate flex="90">
                          <label>Search Sessions</label>
                          <input ng-model="search.who">
                    </md-input-container>
                    <md-button ui-sref="profile({uid:user.uid})" md-ink-ripple flex>
                      <i style="color:black" class="material-icons">account_circle</i>
                      
                    </md-button>
                </div>
            </md-toolbar>   
                <md-content>

            <!-- <div ui-view="upcomingsessions"></div> -->

<div class="column" flex="40">
 <div class="md-padding" layout= "row" flex="40" flex-offest="15"> 
<h1 style="padding-left: 30px; ">Upcoming Sessions</h1>
</div>
  <div style="padding-left: 20px;padding-right: 30px;" class=' md-padding' layout="row" flex>
    <div layout="row" flex>

      <div  class="parent" layout="column" ng-repeat="s in sessions track by $index" flex >
        <style type="text/css">
          .session{
            background-color: white;
            cursor: pointer;
            cursor: hand;
          }
          .session:hover{
            background-color: yellow;
            cursor: pointer;
            cursor: hand;
          }
        </style>
       <md-list-item >
        <md-card class="session"  ui-sref="waitingroom({id: s.id})">
          <md-card-content >
            <small>{{s.data.date}}</small>
            <p>{{s.data.title}}</p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="start center">
            <md-button md-ink-ripple >
            <i  class="fa fa-heartbeat" aria-hidden="true"></i>
          </md-button>  
          <md-button>
             <small >STARTS in {{s.data.timeToStart}}</small>
          </md-button>           
        </md-card>
      </md-list-item>
      </div>

    </div>
  </div>
</div>
  <style type="text/css">
    .portfolio {
      padding-left: 30px;
      padding-right: 30px;
    }

    #input {
      background-color: white;
      max-width: 20%;
    }
  </style>
  
  <div class="md-padding portfolio" layout="column" flex  >

      

     <div class="md-padding"> 
        <h1 >Portfolio</h1>
   </div>

  </div>
      </div>
        






           
            </md-content>
